*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
}

.interface{
    max-width: 1200px;
    margin: 0 auto;
}

header .btn-contato button, .hero-site button{
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

/* Estilizando o header */
header{
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

header .logo img{
    max-width: 60px;
    border-radius: 30px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
    font-family: "Poppins", sans-serif;
}

header .menu-desktop nav ul li a:hover{
    transform: scale(1.2);
}

header .btn-contato button{
    width: 70px;
    height: 50px;
}

header .btn-contato button:hover, .hero-site button:hover{
    background-color: #fff;
    color: #000;
    font-family: "Poppins", sans-serif;
}

header .btn-contato button img{
    width: 32px;
    height: 32px;
    margin-top: 9px;
    color: white;
}


/* Estilização da introdução do site */

section.hero-site{
    height: 99vh;
    background-image: url(../img/fotofundo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
    color: #ffff;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 240;
    font-family: "Poppins", sans-serif;
}

.hero-site .txt-hero h1 span{
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
}

.hero-site .txt-hero p span{
    display: block;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}